body {background-color: rgb(195, 209, 236);}

.jumbotron {
  background-image: url("../data/background_img.png");
  background-size: cover;
  color: white;
}

#travelmap {
    height: 600px;
}

#travelmap img {
 max-width: none;
 min-width: 0px;
 height: auto;
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#geocoder-container {
  position: absolute;
  top: 0;
  width: 100%;
  margin-top: 10px;
}

#geocoder-container > div {
  min-width: 50%;
  margin-left: 25%;
}

#features {
  background-color: white;
  border: 1px solid rgb(53, 53, 53);
}